<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>Nighthawks Statistics API</title>
</head>
<body>
    <section class="main">
        <h1>Nighthawks Robotics</h1>
        <h2>FIRST Tech Challenge API</h2>

        <a href=""><p>Event Data provided by <i>FIRST</i></p></a>
    </section>
</body>

</html>

